.container {
  width: 100%;
  padding: 0.8rem 1.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeIcon img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.title {
  color: #0c411c;
}

.githubIcon {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.githubIcon img {
  height: 4rem;
}

.githubIcon:hover {
  background-color: white;
}
