* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body,
button {
  font: 400 1.6rem 'Didact Gothic', sans-serif;
}

body {
  background: #05ff46;
}

ul {
  list-style: none;
}
